<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>BIENVENUE</h3>
  </div>

  <div class="login">
    <ion-card>
      <ion-card-header>
        <h4>Connectez-vous</h4>
      </ion-card-header>
      <ion-card-content>
        <div class="input-group">
          <ion-item>
            <ion-label position="floating" autocomplete="false">Nom d'utilisateur</ion-label>
            <ion-input autocomplete="false"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" autocomplete="false">Mot de passe</ion-label>
            <ion-input autocomplete="false"></ion-input>
          </ion-item>
      </div>
        <ion-button color="primary">CONNEXION</ion-button>
        <p>ou connectez-vous avec</p>
        <div class="social">
          <ion-img src="assets/images/facebook.png"></ion-img>
          <ion-img src="assets/images/google.png"></ion-img>
        </div>
        <div>
            <ion-button class="compte" fill="clear" [routerLink]="['/register']">CRER UN COMPTE</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  
  </div>
</ion-content>
