<ion-content fullscreen class="ion-padding" scroll-y="false">  
  <ion-slides>  
  
    <ion-slide>  
      <img src="assets/images/logo.png"/>  
      <h2>BIENVENUE SUR <b>STREET TRAP MUSIC</b></h2>  
      <p>Balayez<br>vers la gauche.</p> 
      <ion-img src="assets/images/continue.png"></ion-img> 
    </ion-slide>  
  
    <ion-slide>  
      <img src="assets/images/logo1.png"/>  
      <h2>DEMARRER</h2>  
      <p>
        <ion-button color="primary" [routerLink]="['/login']">CONNEXION</ion-button>
        <ion-button color="dark" [routerLink]="['/register']">CREE UN COMPTE</ion-button>
        ou crée un compte avec
      </p>
      <div class="social">
        <ion-img src="assets/images/facebook.png"></ion-img>
        <ion-img src="assets/images/google.png"></ion-img>
      </div>  
    </ion-slide>  
  
  </ion-slides>  
</ion-content>  